body { margin:0px; font-family: Arial, Helvetica, sans-serif; background: linear-gradient(0deg, #5A6BB0 0%, #8B9EE8 100%); }

img { border-radius: 5px; float:left; margin-left:5px; height:150px; }
header { width:100%; height: 6%; background-color: orange; padding: 10px 0px 0px 0px; border-bottom: 5px solid #CC4E00;
		background: linear-gradient(0deg, #FF6200 0%, #FF9C5E 100%); }

.linkbotao { background-color: red; border-radius:5px; width:10%; height:80%; display: inline-block; text-align:center; line-height:30px;
			border-bottom: 2px solid #944412; border-right: 2px solid #944412; cursor: pointer; margin-left: 10px;
			background: linear-gradient(0deg, #CC4E00 0%, #FF6200 100%); }

.linkbotao:hover {background: linear-gradient(0deg, #FF9C5E 0%, #FFB587 100%); }

.pesquisar { background-color: white; border-radius:5px; width:25%; height:80%; padding-left:10px; display: inline-block; line-height:30px;
			border-bottom: 2px solid grey; border-right: 2px solid grey; margin-left: 10px;
			background: linear-gradient(0deg, #EBEBEB 0%, #FFFFFF 100%); color:grey; }

.pesquisar:hover { color:#EBEBEB; }

.logotipo { display: inline-block; font-size:32px; font-style:italic; font-weight:bold; margin-left:10px; line-height:0px;
font-family: "Courier New", Courier, monospace; text-shadow: 2px 2px 4px black; }

.container-box { margin: 10px; display: grid; grid-gap: 10px; grid-template-columns: auto; grid-template-rows: 50px 200px 50px;
				 grid-template-areas: 'a a b b'
									  'a a b b'
									  'c c d d'
									  'c c d d'}

.box { background: linear-gradient(0deg, #FFEFD6 0%, #FFFFFF 100%);
		border-radius: 5px; border-bottom: 4px solid #FF6200; border-right: 3px solid #FF6200; }

.a   { grid-area:a; text-align:center; }
.b   { grid-area:b; text-align:center; }
.c   { grid-area:c; text-align:center; }
.d   { grid-area:d; text-align:center; }