p			{ color: #1E3C3C; padding: 2px; }
body		{ font-family: Arial, Helvetica, sans-serif; background: linear-gradient(0deg, #2A7B9B 0%, #C0D7E6 100%); }
table		{ border: 2px solid #257A61; border-radius: 15px; background: linear-gradient(0deg, #2A9B7B 0%, #C0E6DA 60%); }
h1, h2, h3	{ text-align: center; color: #1F634F; }
strong		{ color: #1F634F; }
li			{ color: #2A9B7B;  padding: 2px; }
a			{ text-decoration: none; color: #2A9B7B; }
a:hover		{ color: #C0E6DA; }

.tds 		{ font-weight: bold; }
.tdi		{ font-style: italic; }
.container-gabriel {
	background: white;
	width: 80%;
	text-align: left;
	padding: 5px;
	border: 2px solid #97ADBF;
	border-radius: 15px;
	background: linear-gradient(0deg, #EDF2FA 0%, white 100%);
}

.p-gabriel {
	text-align: center;
	font-size: 2px;
}